#bg_yellow {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 190;
	pointer-events:  none;
   /*color: #FAB617FF; */
	background-color: #fab617ff; 
  /*color: radial-gradient(circle at left bottom,*/
                                      /*rgba(255, 255, 255, 0) 0.00%,*/
									/*rgb(250, 182, 23) 100.00%),*/
                      /*radial-gradient(circle at left top, */
									/*rgb(189, 195, 199) 0.00%,*/
									/*rgb(255, 255, 255) 62.00%);*/
   /*opacity: 0; */
}


@keyframes blob_tr1
{
	0% {
		transform: translateX(-50%);
	}

	50% {
		transform: translateX(-60%) translateY(-50%);
	}

	100% {
		transform: translateX(-50%);
	}
}

@keyframes blob_tr2
{
	0% {
		transform: 					translateY(-50%);
	}

	50% {
		transform: translateX(-20%) translateY(-50%);
	}

	100% {
		transform: 					translateY(-50%);
	}
}

.bg_container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: clip;
	/*background:
		url(https://grainy-gradients.vercel.app/noise.svg);*/
}

#bg_outer {
	position:  absolute;
	top: 0;
	left: 0;
	height:  100%;
	width: 100%;
	z-index: 193;
	/*color: red;*/
	background: url(https://grainy-gradients.vercel.app/noise.svg);
	opacity:  0.4;
}

#bg_blob1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 200%;
	height: 200%;
	z-index: 192;
	pointer-events: none;
	/* display:  flow-root; */
	/* overflow: clip; */
	 /*color:  red; */
	background: 
		radial-gradient(circle at center, 
			rgba(255, 255, 255, 255) 0%,
			rgba(255, 255, 255, 0) 50%
		);
	animation: blob_tr1 9.0s ease infinite;
	-webkit-animation: blob_tr1 9.0s ease infinite;
}

#bg_blob2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 200%;
	height: 200%;
	z-index: 192;
	pointer-events: none;
	/* display:  flow-root; */
	/* overflow: clip; */
	 /*color:  red; */
	background: 
		radial-gradient(circle at center, 
			rgba(255, 255, 255, 255) 0%,
			rgba(255, 255, 255, 0) 50%
		);
	animation: blob_tr2 11.0s ease infinite;
	-webkit-animation: blob_tr2 11.0s ease infinite;
}

/*#bg_blob1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 192;
	color:  yellow;
	opacity: 0;
}*/


/*#bg_blob1:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 200%;
	height: 200%;
	z-index: 191;
	pointer-events: none;
  color:  yellow;
	background: radial-gradient(circle at center, 
							rgba(255, 255, 255, 255) 0%,
							rgba(255, 255, 255, 0) 50%
						);
	 animation: blob_tr 30.0s ease infinite; 
	 -webkit-animation: blob_tr 30.0s ease infinite; 
}*/


#scene {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  pointer-events:  none;
  /* background-color: #fab617ff; */
  /*background: radial-gradient(circle at left bottom,*/
                                      /*rgba(255, 255, 255, 0) 0.00%,*/
									/*rgb(250, 182, 23) 100.00%),*/
                      /*radial-gradient(circle at left top, */
									/*rgb(189, 195, 199) 0.00%,*/
									/*rgb(250, 182, 23) 3.00%,*/
									/*rgb(255, 255, 255) 62.00%);*/
  /* opacity: 0; */
}


:root {
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #D9D9D9;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-primary-100: #003EB3;
  --dl-color-primary-300: #0074F0;
  --dl-color-primary-500: #14A9FF;
  --dl-color-primary-700: #85DCFF;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-size-size-maxwidth: 1400px;
  --dl-radius-radius-round: 50%;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-color-primary-italyred: #cd212aff;
  --dl-color-primary-kodakred: #e30613ff;
  --dl-space-space-threeunits: 48px;
  --dl-color-primary-kodakyellow: #ffb700ff;
  --dl-color-primary-kodakyellow2: #fab617ff;
  --dl-space-space-oneandhalfunits: 24px;
}
.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
}
.heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
